.layout-content{
    position: absolute;
    top: 20%;
    left: 15%;
    height: 70%;
    width: 70%;
    background-color: #fff;
    border-radius: 17px;
    z-index: 999;
    box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.17), 0px 3.28515px 6.5703px rgba(0, 0, 0, 0.117297), 0px 1.59488px 3.18976px rgba(0, 0, 0, 0.0945694), 0px 0.781839px 1.56368px rgba(0, 0, 0, 0.0754306), 0px 0.30914px 0.618281px rgba(0, 0, 0, 0.0527031);
}
.form-container{
    border-radius: 12px;
    border: 1px solid rgba(26, 73, 129, 1);
    padding: 22px 10px;
}
.global-inputs{
    background-color: rgba(245, 245, 245, 1)!important;
    padding-left: 40px!important;
    margin: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.global-inputs:focus{
    background-color: rgba(34, 34, 34, 0.1)!important;
}
.react-datepicker-popper{
    z-index: 999!important;
}
.prepend-icon{
    position: relative;
    z-index: 2;
    margin-bottom: -38px;
    margin-left: 19px;
    width: 20px;
    color: rgba(26, 73, 129, 1);
}
.form-button{
    padding: 4px 5px;
    font-size: 15px;
    border: none;
    background: rgba(26, 73, 129, 1);
    color:white;
    width: 7rem;
    border-radius: 5px;
    box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.17);
}

.form-container ::placeholder {
    font-size: small;
    color: black;
}